<!-- Footer -->
<section id="footer" >
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <!-- Grid column -->
      <div class="col-xs-12 col-sm-6 col-md-6 v">

        <!-- Content -->
        <h5 class="text-uppercase">About us</h5>
        <p>We provide the best workout routines backed by science to build muscle and torch fat, using a circuit approach to resistance training.</p>
        <div class="container p-4 subscribe">
          <p>Get access to exclusive guides not available anywhere else on this website! Sign up below:</p>
            <form>
              <div class="form-group">
                <label for="email">email:</label>
                <input type="emaul" class="form-control" id="email" placeholder="Enter your email">
              </div>
              <button type="submit" class="btn btn-subscribe">Submit</button>
            </form>

        </div>

      </div>
      <!-- Grid column -->
      <div class="col-xs-12 col-sm-3 col-md-3 v">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 v">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
          <li><a href="https://wwwe.bonifase.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Bonifase</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p><u><a href="#">Cool workout</a></u> is a Registered health and wellness website</p>
        <p class="h6">&copy; {{ year }} All right Reversed.<a class="ml-2" href="#" target="_blank">Coolworkout</a></p>
      </div>
      <hr>
    </div>
  </div>
</section>
<!-- ./Footer -->
