<div class="container mt-4 mb-4">
  <h2>About Cool Workout</h2>
<p>Cool Workout is an online web application that will allow you to track,
  schedule, and analyze your weight-loss, diet,
  and fitness routines in an easy-to-use interface.</p>
  <h2>What's Included?</h2>
  <h4>Fitness & Workout Scheduling</h4>
  Our calendar makes it easy for you to schedule and keep track of all your workouts. You can easily drag and drop workouts to different days as your schedule changes and mark workouts as completed with just one click. Workout details like duration, mets and calories burned can also be easily viewed from your calendar. You can download a monthly rotation or even the entire STS program into your calendar with just a few steps. Details about every Cathe DVD, including premixes, can easily be viewed.
  Rotations
  Download monthly workout rotations into your calendar that were created by Cathe or fellow Cathletes. You can even easily create your own Rotations that can be shared with others. Cathe post’s a new rotation every month.
  <h4>Weight & BMI Tracking</h4>
  Keep track of your body weight and BMI by recording your weight each day. You can view your body weight and BMI in both graph and table data formats.
  <h4>Setting Custom Goals</h4>
  Easily set goals and then view your progress over time. Setting goals is important and will help to keep you on track with your fitness program.
  <h4>Body Log Tracking</h4>
  We've made keeping track of all of your body measurements a snap. Results can be easily viewed both by chart and table data formats. You can even set goals for any of your body measurements.
  <h4>Creating Custom Workouts</h4>
  Select the workouts icon and quickly create your own strength training workout by adding any exercise you like. Then select the number of reps and either the weight or %1RM for your intensity and print your own custom workout card. You may change the order of any exercise by simply selecting the “Enable sort” button and then dragging any exercise to the position you want.
  <h4>One Rep Max Calculator</h4>
  Calculate the maximum weight you can lift for any exercise safely and quickly with our 1RM Calculator. Your results will remain stored online and can be viewed, edited or used to calculate the proper and safe weight you should use for any exercise at any intensity level.
  <h4>Progress Photos</h4>
  Keep track of your fitness progress by uploading photos of yourself into the Workout Manager. By default all photos are kept private, but you can make the available for others to see by checking the public option.
  STS
  Quickly Print a workout card for any workout in the STS program. As long as you have taken a 1RM test for an exercise the weight you need for every exercise for that day's workout will automatically be loaded onto your card. You can also download the official STS strength training program as well as several STS + Cardio rotations Cathe has created into your Workout Manager calendar. Quick links to other STS resources can also be found here.
  <h4>Nutrition & Diet Management</h4>
  Our program gives you the tools necessary to design your own weekly meal plans that meet your performance and nutritional needs by telling you the best foods to eat, their nutritional value, and the calories you need to eat to reach your goals for your lifestyle!

</div>
