@import "~bootstrap/dist/css/bootstrap.css";
:root {
  --main-color: #F0805B;
  --primary-color: #A9C842;
  --secondary-color: #664696;
}
body {
  margin: auto;
  font-size: 18px;
  font-family: 'Nunito', sans-serif !important;
}
